body {
    background-image: url('./IMG/fondo home.jfif');
    background-size: cover;
    font-family: Arial, sans-serif;
}

.inventory-container {
    background-color: #f0f0f0;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 50px; /* Ajustado para dispositivos móviles */
    max-width: 1200px; /* Ajustado */
}

.header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.header img {
    border-radius: 50%;
}

.header .user-info img {
    margin-right: 10px;
}

.header .user-info .username {
    font-size: 1.2rem; /* Ajustado */
    font-weight: bold;
}

.header .user-info .user-id {
    font-size: 0.9rem; /* Ajustado */
}

.header .inventory-title {
    font-size: 1.5rem; /* Ajustado */
    font-weight: bold;
}

.sidebar {
    background-color: yellowgreen;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sidebar .nav-item {
    padding: 10px;
    cursor: pointer;
}

.sidebar .nav-item.active {
    background-color: rgb(17, 17, 17);
}

.sidebar .nav-item:hover {
    background-color: rgb(0, 255, 255);
}

.sidebar .cart-icon {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

.content .avatars img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
}

.content .avatars img:hover {
    border: 2px solid #00f;
}

.avatar-preview {
    width: 100%;
    height: auto;
    background-image: url('https://placehold.co/300x300');
    background-size: cover;
    border-radius: 10px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

@media (max-width: 768px) {
    .inventory-container {
        padding: 10px;
        margin-top: 20px;
    }

    .header .inventory-title {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 10px;
    }

    .header .user-info {
        justify-content: center;
    }

    .sidebar {
        width: 100%;
    }

    .content {
        margin-top: 10px;
    }

    .content .avatars img {
        width: 60px;
        height: 60px;
    }

    .avatar-preview {
        margin-top: 20px;
    }
}
